
      <div class="sidebar" style="clear: both;">
      Keyword Search: <form method="GET" action="/flair-gg-vp-server/keyword-search"><input type="text" name="keyword" width="30"><input type="submit"></form>
      </div>

      <div class="sidebar" style="clear: both;">
      Ontology URI: <form method="GET" action="/flair-gg-vp-server/ontology-search"><input type="text" name="uri" width="30"><input type="submit"></form>
      </div>


      <%= erb :_dataservices %>


      <div class="sidebar" style="clear: both;">
      <a href="/flair-gg-vp-server/wordcloud"><input type="button" value="Display Wordcloud"></a>
      </div>
