<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>FLAIR-GG Virtual Platform</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  
  </head>
  <body>
    <div class="wrapper">
      <h2><a href="https://vp.bgv.cbgp.upm.es/flair-gg-vp-server/resources">FLAIR-GG Virtual Platform</a><h2>



      <div class="sidebar">
      Keyword Search: <form action="/flair-gg-vp-server/keyword-search"><input type="text" name="keyword" width="30"><input type="submit"></form>
      </div>
      <div class="sidebar" style="clear: both;">
      Ontology URI: <form action="/flair-gg-vp-server/ontology-search"><input type="text" name="uri" width="30"><input type="submit"></form>
      </div>
      <div class="sidebar" style="clear: both;">
      <a href="/flair-gg-vp-server/wordcloud"><input type="button" value="Display Wordcloud"></a>
      </div>



      <h2>Discovered VP Resources</h2>
      
      
      <ol>
          <% @discoverables.each_key do |url| %>
            <% type = @discoverables[url][:type] %>
            <% type = type.match(/[\#\/](\w+?)$/)[1].downcase %>
            <% title = @discoverables[url][:title] %>
            <li><img src="../images/<%= @discoverables[url][:icon] %>" width=35 height=35/> &nbsp;&nbsp;
            Resource: <a href="<%= url %>" > <%= title %> </a>(<%= type.capitalize %>)
            </li>
          <% end %>
      </ol>


      <footer class="branding">
        <small>&copy; 2023 <strong>Mark D Wilkinson</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
