%html
  %body
    :css
      body {background-color: pink} 

    %strong
      SUBMIT NEW QUERY
    %br
    %br
    %br
  
    %form{action: "/submit", method: "POST"}
      %br
      %br
      Query:
      %br
      %textarea{name: "query", cols: "60", rows: "20"}
      %br
      %br
      ORCiD:
      %input{type: "text", name: "orcid"}
      %br
      %br
      token:
      %input{type: "text", name: "token"}
      %br
      %br
      %input{type: "Submit", name: "Submit it", value: "Submit query to queue for review"}
