


<footer class="c-footer">
  <br />
  <br />

  <h3>Funding</h3>

  <b>TED2021-130788B-I00</b>
  <br />
  Proyecto TED2021-130788B-I00 financed by
  <br />
  MCIN/AEI /10.13039/501100011033 and by the European Union Next Generation EU/ PRTR.
  <br />
  <img width="300" src="/images/ted-logo.png" />
  <br />
  <br />
  <br />
  The FLAIR-GG computational infrastructure is supported by the
  <br />"Severo Ochoa Program for Centres of Excellence in R&D 2022-2025" from the
  Agencia Estatal de Investigación of Spain, awarded to the
  <br />Center for Plant Biotechnology and Genomics (CBGP UPM-INIA/CSIC).
  <br />
  <br />
  <br />
  <br />
  <b>Principal Investigators:</b>
  <br />
  <br />
  Moreno Vazquez, Santiago<br />
  UPM grupo: Biodiversidad y conservación de recursos fitogenéticos
  <br /><br />
  Wilkinson, Mark Denis <br />
  CBGP UPM-INIA/CSIC. <br />
  UPM grupo: Abordajes Multidisciplinares en la Interfaz Planta-Microorganismo<br />
</footer>

</body>