      <footer class="branding">
        <small><strong><a href="https://wilkinsonlab.github.io/FLAIR-GG/">Project Homepage</a></strong></small><br/>
        <small>&copy; 2023/2024 <strong>Mark D Wilkinson</strong></small><br/>
        <small>Proyecto TED2021-130788B-I00 financiado por MCIN/AEI /10.13039/501100011033 y por la Unión Europea NextGeneration EU/PRTR</small><br/>
        <img src="/images/ted.png">
      </footer>
